.groups-overview {
    padding: 10px;

    .search-container {
        padding-top: 10px;
    }

    .resultCountContainer {
        padding-bottom: 10px;

        .resultCountBubble {
            background-color: #e4e4e4;
            padding: 4px;
            border-radius: 4px;
            margin-right: 5px;
            border: 1px solid gray;
        }
    }

}