.groups-overview {
    padding: 10px;

    .search-container {
        padding-top: 10px;
    }
    .ember-power-select-trigger {
        padding: 0 16px 0 0;
        width: 70%;
    }
    
    .results-container {

        .resultCountContainer {
            display: flex;
            flex-wrap: wrap;
    
            .resultCountBubble {
                background-color: #e4e4e4;
                padding: 4px;
                border-radius: 4px;
                margin-right: 5px;
                margin-bottom: 10px;
                border: 1px solid gray;
                color: #333333;
                text-decoration: none;
            }
        }

        li {
            list-style: none;
            padding: 10px 0;
        }

        .result-header {
            color: #222529;
        }
        .result-body {
            color: #666;
        }
    }
}