<div class='issues'>
  {{#power-select-multiple
    options=model
    placeholder="Select conversations"
    selected=group
    onchange=(action (mut group))
    as |group|
  }}
    {{!-- <i class="fa fa-{{icon}} fa-lg" aria-hidden="true"></i>     --}}
    {{group.name}}
  {{/power-select-multiple}}
</div>